body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #151515;
  color: white;
  margin: 0;
}

.App {
  text-align: center;
}

#LogoLoading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #151515;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#LogoLoading span {
  font-size: 90px;
  font-weight: bold;
  color: #8553d6;
}

#Loading {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#Loading div {
  border: 3px solid #8553d652;
  border-top: 3px solid #8553d6;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

form {
  display: flex;
  flex-direction: column;
}

input {
  box-sizing: border-box;
  border: 1px solid #2f3336;
  background-color: transparent;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  margin: 10px 15px;
  padding: 0 5px;
  height: 50px;
  outline: none;
}

input:focus {
  border-color: #a672fb;
}

button {
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 1px solid #8553d6;
  font-size: 15px;
  font-weight: bold;
  transition: all .1s ease-in;
}

.colorButton {
  color: white;
  background-color: #8553d6;
}

.colorButton:hover {
  background-color: #7147b5;
  border-color: #7147b5;
}

.transparentButton {
  color: #8553d6;
  background-color: transparent;
}

.transparentButton:hover {
  background-color: #8553d60a;
}

a {
  color: white;
  text-decoration: none;
}

.invalidForm {
  pointer-events: none;
  color: #696969;
  border-color: #352056;
  background-color: #352056;
}

#Welcome,
.UserForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 30px;
  box-sizing: border-box;
}

#Welcome h1 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
}

#Welcome button {
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
}

.UserForm {
  padding: 0;
  max-width: 400px;
}

.UserForm h1 {
  margin-left: 15px;
}

.UserForm button {
  height: 50px;
  margin: 10px;
}

.UserForm a {
  color: #a672fb;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
}

.UserForm a:hover {
  text-decoration: underline;
}

#Main {
  display: flex;
}

#NavbarContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  min-width: 275px;
}

#Navbar {
  display: flex;
  position: fixed;
  flex-direction: column;
  font-size: 25px;
  font-weight: bold;
  width: 275px;
  padding-top: 60px;
  box-sizing: border-box;
}

#Temp {
  flex: 1;
}

.active {
  color: #8553d6;
}

#Navbar a {
  padding: 17px;
  display: flex;
  align-items: center;
}

#Navbar a:hover {
  color: #8553d6;
}

#Navbar svg {
  height: 1em;
  width: 1em;
  margin-right: 10px;
}

.Container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #2f3336;
  padding: 10px;
}

.header h1 {
  margin: 0;
}

.mobileMenu {
  display: none;
  height: 100%;
  width: 1em;
  color: #8553d6;
  font-size: 25px;
}

#PostsContainer {
  border-bottom: 1px solid #2f3336;
  margin-top: 15px;
  margin-bottom: 20px;
}

#Post {
  display: flex;
  align-items: flex-start;
}

.PostUserIcon {
  max-width: 50px;
  border-radius: 1000px;
  margin-right: 10px;
}

.PostContent {
  flex: 1;
}

#Post h2 {
  font-size: 20px;
  margin: 0;
  margin-right: 5px;
}

#Post h2:hover {
  text-decoration: underline;
}

#CreatorLink {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.spacer {
  padding: 0 5px;
}

#Post span {
  color: #6e767d;
  font-size: 14px;
}

.UserHandle {
  color: #6e767d;
  font-size: 15px;
}

#Post p {
  margin: 0;
}

.InteractionOptions {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  max-width: 425px;
  color: #6e767d;
  font-size: 16px;
  padding-right: 6px;
}

.InteractionOptions svg {
  width: 1em;
  cursor: pointer;
}

.RetweetIcon {
  font-size: 20px;
}

.IconWithCount {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.2s linear;
}

.IconWithCount span {
  font-size: 16px;
  margin-left: 10px;
  height: 16px;
}

.HoverBlue:hover {
  color: #1da1f2;
}

.HoverGreen:hover {
  color: #17bf63;
}

.HoverRed:hover {
  color: #e0245e;
}

.Red {
  color: #e0245e;
}

.Blue {
  color: #1da1f2;
}

.Green {
  color: #17bf63;
}

#LogOut {
  margin-top: 50px;
  height: 50px;
  width: 200px;
  max-width: 95%;
}

#NewPost {
  display: flex;
  align-items: flex-start;
  border: 1px solid #2f3336;
  padding: 10px;
}

#PostForm textarea {
  resize: none;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  box-sizing: border-box;
  padding: 5px;
  padding-top: 16px;
  border: 0px;
  margin-bottom: 10px;
  min-height: 50px;
  width: 100%;
  outline: none;
}

#NewPost form {
  flex: 1;
}

#PostForm div {
  align-self: flex-end;
}

#PostForm span {
  color: #999;
  vertical-align: middle;
}

#PostForm button {
  margin-left: 10px;
  padding: 10px 20px;
}

.BackArrow {
  height: 100%;
  width: 1em;
  font-size: 20px;
  color: #8553d6;
  cursor: pointer;
}

.CenterTitle {
  margin: 0 auto !important;
}

#ShowPost {
  border: 1px solid #2f3336;
  border-bottom: none;
  padding: 15px;
}

.PostUser {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.PostUser a {
  display: flex;
  align-items: center;
}

.PostCreatedAt {
  color: #6e767d;
  margin-top: 15px;
  display: block;
  font-size: 15px;
}

.ShowPostOptions {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  font-size: 20px;
  color: #6e767d;
  padding-top: 15px;
  border-top: 1px solid #2f3336;
}

.ShowPostOptions svg {
  width: 1em;
  cursor: pointer;
  transition: color 0.2s linear;
}

.ShowPostStats {
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.ShowPostStats :nth-child(2) {
  color: #6e767d;
  margin-left: 5px;
}

.ShowPostStats:hover {
  text-decoration-line: underline;
}

#ShowPost h2 {
  font-size: 20px;
  margin: 0;
}

#ShowPost p {
  font-size: 22px;
  margin: 0;
}

#ShowUser {
  border: 1px solid #2f3336;
  border-bottom: 0;
  margin-bottom: -15px;
}

.banner {
  background-color: #2f3336;
  height: 33vw;
  max-height: 200px;
}

.userIconWithButtons {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.UserPhoto {
  width: 23vw;
  max-width: 140px;
  box-sizing: border-box;
  border: 4px solid #151515;
  margin-top: max(-11.5vw, -70px);
  margin-left: 15px;
  border-radius: 1000px;
}

.userIconWithButtons button {
  margin: 12px 16px;
  margin-left: auto;
  padding: 12px 25px;
}

.UserInfo {
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-top: 5px;
}

.UserInfo h2 {
  margin: 0;
}

.UserInfo span {
  margin-bottom: 12px;
}

.FollowingFollowersCount {
  font-size: 15px;
  margin-right: 10px;
}

.ShowUserNav {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.ShowUserNav a {
  padding: 16px 0 14px 0;
  border-bottom: 2px solid #151515;
  width: 100%;
  text-align: center;
  color: #6e767d;
}

.ShowUserNav a:hover {
  background-color: #794bc405;
  color: #8553d6;
}

.activeUserNav {
  color: #8553d6 !important;
  border-color: #8553d6 !important;
}

.redText {
  color: #da1f1f !important;
}

.show {
  transform: translateX(0px) !important;
}

#Explore {
  border: 1px solid #2f3336;
}

.SearchBar {
  position: relative;
  display: flex;
  align-items: center;
}

.SearchBar svg {
  position: absolute;
  pointer-events: none;
  left: 30px;
  width: 1em;
  color: grey;
}

.SearchBar Input {
  border-radius: 1000px;
  padding: 12px;
  width: 90%;
  height: 40px;
  background-color: #242729;
  border: 0;
  text-indent: 30px;
}

#UsersContainer {
  border: 1px solid #2f3336;
  border-top: 0;
}

#User {
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #2f3336;
}

#User:hover {
  background-color: #ffffff08;
}

#User a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#User h2 {
  margin: 0;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#User div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#User button {
  padding: 7px 20px;
}

#NewCommentContainer {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 52%);
}

#NewComment {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
  background-color: #151515;
  border-radius: 10px;
}

#NewComment p {
  margin: 0;
  padding-bottom: 16px;
  font-size: 22px;
  color: #8553d6;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-start;
}

#NewComment #PostForm {
  border-top: 1px #2f3336 solid;
  justify-content: space-between;
  flex: 1;
}

#NewComment #PostForm textarea {
  flex: 1;
}

#CommentsContainer {
  border-bottom: 1px solid #2f3336;
}

#flexDiv {
  display: flex;
}

.RepostUser {
  color: #6e767d;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 30px;
}

.RepostUser svg {
  height: 16px;
  margin-right: 10px;
}

.RepostUser span:hover {
  text-decoration: underline;
}

.Border {
  border: 1px solid #2f3336;
  border-bottom: 0px;
  padding: 10px;
}

#Notifications {
  border: 1px solid #2f3336;
}

#Notifications .header {
  border: 0;
}

#NoNotifications {
  color: #6e767d;
  text-align: center;
  border-top: 1px solid #2f3336;
  margin: 0;
  padding: 20px;
}

.share {
  height: 16px;
}

#ShareMenuWrapper {
  position: absolute;
  right: 0;
}

#ShareMenuContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#ShareMenu {
  position: absolute;
  right: 6px;
  z-index: 1;
  border-radius: 3px;
  box-shadow: 0 0 3px #9d9d9d;
  background-color: black;
  width: 208px;
  font-size: 20px;
}

.ShareOption {
  display: flex;
  align-items: center;
  padding: 16px;
}

.ShareOption:hover {
  cursor: pointer;
}

#ShareMenu svg {
  height: 1em;
  margin-right: 12px;
}

#ShareMenu span {
  color: white;
  font-size: 15px;
}

#SuccessMessage {
  position: fixed;
  z-index: 1;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: white;
  background-color: #8553d6;
  padding: 10px 15px;
  border-radius: 3px;
}

#Bookmark {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#Bookmark #PostsContainer {
  margin-top: 0;
}

@media (max-width:750px) {
  #NavbarContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
  }

  #Navbar {
    padding-left: 10px;
    left: 0;
    background-color: #151515;
    height: 100%;
  }

  #Temp {
    flex: 0;
  }

  .mobileMenu {
    display: block;
  }

  .header h1 {
    margin: 0 auto;
  }
}

@media (max-height:550px) {
  #Navbar {
    overflow-y: scroll;
  }
}